/*@ //@======================== 3d-model ========================@// @*/
/*@ //@======================== 3d-model ========================@// @*/
.model {
  height: 100vh;
}
.model__container {
  height: 100%;
}
.model__container canvas {
  height: 100% !important;
}