.wrapper {
  padding-top: 10dvh;
  min-height: 100dvh;
  background: #b67540;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.label {
  font-style: italic;
  font-size: 12px;
  margin: 0 5px 10px 0;
  color: #383838;
}

.acc {
  margin-bottom: 20px;
  border-radius: 25px;
  padding: 20px;
  background: #eaa56d;
}
.acc__heading {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.acc__inner {
  border: 1px solid #383838;
  padding: 5px;
}
.acc__tab {
  border: 1px solid #383838;
  margin-bottom: 20px;
  padding: 5px;
}
.acc__tab--open .acc__button-line:last-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.acc__tab--open .acc__link {
  background: #ccc;
}
.acc__section {
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #5f256f;
}
.acc__section:hover {
  background: #a446be;
}
.acc__section-text {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.acc__button {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.acc__button-line {
  width: 14px;
  height: 2px;
  background: #fff;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.acc__button-line:last-child {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.acc__content {
  max-height: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow-x: hidden;
  border: 1px solid #383838;
}
.acc__text {
  padding: 10px;
  border: 1px solid #383838;
}