/*@ //@======================== animated dashed line ========================@// @*/
#msk-for-line__path path {
  -webkit-animation: draw-dashed-line 3s infinite linear;
          animation: draw-dashed-line 3s infinite linear;
}

@-webkit-keyframes draw-dashed-line {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-dashed-line {
  100% {
    stroke-dashoffset: 0;
  }
}