html {
  scroll-behavior: smooth;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1860px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main-heading {
  font-size: 50px;
  text-align: center;
}

.heading {
  font-size: 30px;
  text-align: center;
}

.code {
  font-family: "CamingoCode";
  color: #d68b00;
}

b {
  font-size: 18px;
}

.comment {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #616161;
}

/*==================================== HEADER ====================================*/
.header {
  margin-bottom: 40px;
}

/*==================================== BLOCK ====================================*/
.block {
  line-height: 1.3;
}
.block__heading {
  margin-bottom: 20px;
  cursor: pointer;
}
.block__content {
  max-height: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
  background: rgba(231, 231, 231, 0.337254902);
  border-radius: 10px;
}
.block__list {
  padding: 10px;
}
.block__list-heading {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}
.block__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 20px;
}
.block__list-code {
  margin-right: 20px;
  width: 200px;
}
.block__list-par {
  max-width: 640px;
  margin-bottom: 10px;
}

.article {
  padding: 20px;
}
.article__heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  cursor: pointer;
}
.article__par {
  margin-bottom: 10px;
}
.article__code {
  margin-bottom: 14px;
}
.article__content {
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}