html {
	scroll-behavior: smooth;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.container {
	max-width: 1860px;
	padding: 0 15px;
	margin: 0 auto;
	height: 100%;
}

.main-heading {
	font-size: 50px;
	text-align: center;
}

.heading {
	font-size: 30px;
	text-align: center;
}

.code {
	font-family: "CamingoCode";
	color: #d68b00;
}

b {
	font-size: 18px;
}

.comment {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #616161;
}

/*==================================== HEADER ====================================*/

.header {
	margin-bottom: 40px;
}

/*==================================== BLOCK ====================================*/

.block {
	line-height: 1.3;

	&__heading {
		margin-bottom: 20px;
		cursor: pointer;
	}

	&__content {
		max-height: 0;
		transition: all .3s;
		overflow: hidden;
		max-width: 900px;
		margin: 0 auto;
		margin-bottom: 40px;
		background: #e7e7e756;
		border-radius: 10px;
	}

	&__list {
		padding: 10px;
	}

	&__list-heading {
		font-size: 18px;
		margin-bottom: 20px;
		text-align: center;
	}

	&__list-item {
		display: flex;
		justify-content: start;
		margin-bottom: 20px;
	}

	&__list-code {
		margin-right: 20px;
		width: 200px;
	}

	&__list-desc {}

	&__list-par {
		max-width: 640px;
		margin-bottom: 10px;
	}


}

.article {
	padding: 20px;

	&__heading {
		text-align: center;
		margin-bottom: 30px;
		font-size: 24px;
		cursor: pointer;
	}

	&__par {
		margin-bottom: 10px;
	}

	&__code {
		margin-bottom: 14px;
	}

	&__content {
		// max-height: 0;
		overflow: hidden;
		transition: all .3s;
	}
}