@import "reset";
@import "vars";
@import "mixins";
@import "fonts";

html {
	scroll-behavior: smooth;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
	max-width: 1260;
	padding: 0 30px;
	margin: 0 auto;
	height: 100%;
}

.main {
	height: 100dvh;
	width: 100%;
	background: radial-gradient( rgb(26, 130, 159) 4%, rgba(20, 10, 107, 1) 93%);
}

.section {
	display: flex;
	justify-content: center;
}

.list {
	width: 800px;
	padding: 100px 0;
	flex-direction: column;
	display: flex;
	align-items: center;
}

.list__item {
	padding: 20px;
}

.list__link {
	font-size: 50px;
	color: #fff;

	&:hover {
		text-decoration: underline;
	}
}